body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.wrapper-header {
    padding: 18px 10px;
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #222222;
    color: #E8E8E8;
}

.wrapper-main {
    padding: 65px 18px 100px;
}

.main {
    padding-left: 10px;
    background-color: #F8F8F8;
    color: #222222;
    flex-grow: 1;
}

.list-link{
    display: flex;
    align-items: center;
    gap:10px;
    list-style-type: none;
}

.list-link a{
    text-decoration: none;
    color: #E8E8E8;
}

.list-link a:hover{
    text-decoration: none;
    color:  #F16D7F;
}

.list-dzen p{
    color: #222222;
}

.list-dzen p:hover{
    color:  #F16D7F;
}

.wrapper-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 10px;
}

.footer {
    background-color: #222224;
    color: #FBFBFB;
}