{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать!</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<header class="header">
    <div class="wrapper wrapper-header">
        <h1>Hermes</h1>
        <ul class="list-link">
            <li><a href="{% url 'admin:index' %}">Админка</a></li>
            <li><a href="{% url 'api-root' %}">Api</a></li>
        </ul>
    </div>
</header>
<main class="main">
    <div class="wrapper wrapper-main">
        <h2>Добро пожаловать</h2>
        <div class="list-dzen">
            <p>Beautiful is better than ugly.</p>
            <p>Explicit is better than implicit.</p>
            <p>Simple is better than complex.</p>
            <p>Complex is better than complicated.</p>
            <p>Flat is better than nested.</p>
            <p>Sparse is better than dense.</p>
            <p>Readability counts.</p>
            <p>Special cases aren't special enough to break the rules.</p>
            <p>Although practicality beats purity.</p>
            <p>Errors should never pass silently.</p>
            <p>Unless explicitly silenced.</p>
            <p>In the face of ambiguity, refuse the temptation to guess.</p>
            <p>There should be one-- and preferably only one --obvious way to do it.</p>
            <p>Although that way may not be obvious at first unless you're Dutch.</p>
            <p>Now is better than never.</p>
            <p>Although never is often better than *right* now.</p>
            <p>If the implementation is hard to explain, it's a bad idea.</p>
            <p>If the implementation is easy to explain, it may be a good idea.</p>
            <p>Namespaces are one honking great idea -- let's do more of those!</p>
        </div>
    </div>
</main>
<footer class="footer">
    <div class="wrapper wrapper-footer">
        <p class="copyright">© 2023 Brand All Rights Reserved.</p>
    </div>
</footer>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
</body>
</html>
